/*  */
@import '_media';

div#__next {

  main {
    position: relative;
    top: 6vh;


  }
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  .about--home, .article--home, .talk--home {
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 1.2em;
  }

  .about--home {
    position: relative;
    
  }

  .talk--home {
    position: relative;

    img {
      filter: contrast(70%) grayscale(50%) brightness(40%);
    }

    .col {
      position: absolute;
      background-color: transparent;
      color: rgba(255, 255, 255, 0.87);
      border: none;

      .card {
        position: relative;
        border: none;
        background-color: transparent;
      }
    }
    
  }

  .article--home {
    position: relative;
    align-self: center;
  }

  .seperator {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .mouse {
      width: 35px;
    }
  }
}